In [1]:
import numpy as np

In [7]:
np.dot( [[1,1,1], [0,0,0]], [[1],[2], [4]])

array([[7],
       [0]])

In [3]:
A = np.array( [[1,1,1], [0,0,0]])
b = np.array( [1,2,4])
A, b

(array([[1, 1, 1],
        [0, 0, 0]]),
 array([1, 2, 4]))

In [12]:
A = A.astype(np.float32)

In [13]:
A

array([[1., 1., 1.],
       [0., 0., 0.]], dtype=float32)